{{ define "footer" }}
    <footer class="text-white text-center mt-5">
        <div class="container py-3">
            <span class="text-muted" style="color: white;">&copy; 2023 PredictAI</span>
        </div>
    </footer>
{{ end }}

{{/*Bootrap template to add maybe social icons*/}}