.logo {
  height: 60px;
}

/* Custom styles for the navbar */
.navbar {
  background-color: darkblue; /* Change navbar color to dark blue */
  padding-right: 2rem;
  font-size: 20px; /* Increased font size for navbar items */
}

/* Align navbar brand/logo to the left */
.navbar-brand {
  margin-right: auto; /* This pushes the navigation items to the right */
  font-size: 30px;
}

/* Align nav items to the right */
.navbar-nav {
  margin-left: auto; /* This ensures nav items align to the right */
}

/* Additional custom styles */
body {
  font-family: Arial, sans-serif;
}

.jumbotron {
  background-color: #f1f1f1;
  text-align: center;
}

#features,
#under-construction {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
}

#under-construction {
  text-align: center;
  font-size: 24px;
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#carouselExampleCaptions {
  max-width: 90%;
  margin: auto; /* Center the carousel */
}

#adminPage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Make images responsive */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* For some reason the bootstrap is overruling the css for the footer*/

/* Specificity increased by targeting the body element */
body footer.bg-dark {
  color: white; /* White text color for the footer */
  background-color: darkblue; /* Background color for the footer */
  text-align: center;
}

body footer.bg-dark a {
  color: white; /* White text color for links in the footer */
}

footer.bg-dark .text-muted {
  color: white !important;
}

/* Ensure text scales properly on different screens */
@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem; /* Smaller font size on small screens */
  }
}

/* Responsive padding for sections */
@media (max-width: 992px) {
  #features,
  #under-construction {
    padding: 10px; /* Less padding on medium screens */
  }
}

/* Contributors Section */

/* Custom styles for contributor cards */
.contributor-card .card-img-top {
  max-width: 100%; /* Adjusts image width to 100% of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image is fully visible */
}

/* Responsive behavior for contributors */
@media (max-width: 768px) {
  .contributor-card .card-img-top {
    max-width: 150px; /* Adjust image size on smaller screens */
    margin: auto; /* Center the image */
  }
}